[user]
	email = me@takuchalle.dev
	name = takuchalle

[color]
        ui = auto
        status = auto
        diff = auto
	branch = auto
	interactive = auto
	grep = auto

[alias]
	st = status
	co = checkout
	cm = commit
	sh = show
	dc = diff --cached
	df = diff
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	open = !hub browse

[core]
	pager = less -R
	editor = vim

[merge]
	ff = false

[ghq]
	root = ~/src
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
